# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env
.env.local
backend/.env
.env.prod
*.db
backend/uploads/
.pytest_cache/

# Node / Next.js
node_modules/
.next/
out/
frontend/.env*.local

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/
